.recipes_container{
  margin: 10px;
  h2{
    text-align: center;
    margin-bottom: 10px;
  }
  .recipes_filter{
    display: block;
    margin: 0 auto;
    padding: 0 30px;
  }
  .recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
}
.popup_filter{
  display: none;
  position: absolute;
  top: 0;  
  left: 0;
  background-color: #a9a9a9be;
  height: 100%;
  width: 100%;
  z-index: 10;
  button{
      border: 1px solid #129575;
      height: 25px;
      padding: 0 10px;
  }
  .popup_container_filter{
      width: 60%;
      margin: 30px auto;
     
      background-color: white;
      border-radius: 30px;
      padding: 20px;
      h2{
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
      }
      & > div{
          margin: 20px 0;
      }
      & > div h2{
          text-align: start;
          margin-bottom: 5px;
      } 
      .button_time,
      .button_category,
      .button_rate{
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          button{
             img{
              margin-left: 7px;
             }
          }
      }
      .filterOk{
          text-align: center;
          button{
              height: 37px;
              min-width: 100px;
          }
      }
  }
  
}