.recipes_container{
  margin: 10px;
  h2{
    text-align: center;
    margin-bottom: 10px;
  }
  .recipes_filter{
    display: block;
    margin: 0 auto;
    padding: 0 30px;
  }
  .recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    button{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button:focus{
      background-color: white;
      color: black;
    }
}

