button{
    background: #129575;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    height: 50px;
}
.wrapper_body{
    min-height: 100vh;
    width: 100vw;
    background-color: #129575;
    .container{
        height: 100vh;
        width: 100vw;
        background-color: #FFFFFF;
      }
      @media (min-width: 600px) {
        .container{
          width: 600px;
          height: 1024px;
          margin: 0 auto;
          border-radius: 30px;
        }
      }
}
