.recipe_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  .more{
    width: 90%;
    button{
      float: right;
      background: none;
      border: 1px solid  #129575;
      height: 30px;
      padding: 0 10px;
      display: flex;
      color: black;
      font-size: 30px;
      &:hover{
        transition: 1s;
        transform: scale(1.1);
        color: #129575;
      }
    }
  }
  .img_section{
    position: relative;
    margin: 10px;
    width: 315px;
    height: 150px;
    ._time{
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: #D9D9D9;
      opacity: 0.5;
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 10px;   
    }
    .rating{
      position: absolute;
      width: 40px;
      background: #FFE1B3;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px; 
      padding: 5px;
      top: 10px;
      right: 10px;
    }
    .img{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
  .title{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 10px;
    &::before{
      content: "Name recipe: ";
      font-size: 12px;
      font-style: italic;
      margin-right: 10px;
    }
  }
  .author_section{
    max-width: 600px;
    margin: 10px;
    gap: 100px;
    display: flex;
    justify-content: space-around;
    .left{
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover{
        transition: 1s;
        transform: scale(1.1);
      }
      .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      h2{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color:#129575;
      }
    }
    .right{
      button{
        padding: 10px 30px;
      }
    }

  }
  .info_recipe{
    margin: 10px;
    max-width: 700px;
    .btns_info{
      display: flex;
      gap: 15px;
      width: 100%;
      button{
        width: 33%;
        height: 30px;
        padding: 0 10px;
      }
    }
    .info_section{
      margin: 30px 10px;
      .section{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background: #D9D9D9;
        padding: 12px;
        border-radius: 12px;
        p{
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
        }
        p:last-child{
          font-style: italic;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #A9A9A9;
        }
      }
    }
  }
}
.popup_filter{
  display: none;
  position: absolute;
  top: 0;  
  left: 0;
  background-color: #a9a9a9be;
  height: 100%;
  width: 100%;
  z-index: 10;
  button{
      border: 1px solid #129575;
      height: 25px;
      padding: 0 10px;
  }
  .popup_container_filter{
    position: absolute;
    top: 5rem;
    right: 3rem;
      min-width: 30%;
      margin: 30px;
      background-color: white;
      border-radius: 30px;
      padding: 20px;
      h2{
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          display: inline-block;
          margin: 0 20px;
      }
      & > div{
          margin: 20px 0;
      }
  } 
}
