.wrapperSignUp{
    padding: 30px;
    position: relative;
    height: 100%;
    .headerSignUp{
        margin-bottom: 10%;
        h2{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }
        p{
            font-family: "Poppins-Ragular";
            max-width: 200px;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
        }
    }
    .blockBtnSignIn{
        text-align: center;
        margin-top: 80px;
        .absolPosition{
            margin: 10px;
            a{
                color: #129575;
                &:hover{
                    transition: 1s;
                    color: #0b6d54;
                }
            }
        }
    }
}