.setting_container{
    padding: 10px;
    h2{
        text-align: center;
        margin: 20px;
    }
    .name_section{
        position: relative;
        .invalid_value{
            position: absolute;
            color: red;
            font-size: 10px;
            font-style: italic;
            font-weight: 300;
            margin: 40px auto 0 auto;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
    .change{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        input{
            border: 1px solid gray;
            border-radius: 5px;
            padding: 2px 10px;
            margin: 10px;
        }
        button{
            height: 25px;
            padding: 0 10px;
        }
        textarea{
            border: 1px solid gray;
            border-radius: 5px;
            padding: 2px 10px;
            margin: 10px;
            width: 220px;
            height: 50px;
            resize:none;  
        }
    }
    .photo{
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 125px;
         height: 160px;
        img{
            width: 100%;
        }
    }
    .btn_logout{
        display: block;
        margin: 20px auto;
        height: 30px;
        padding: 0 40px;
    }
}