.wrapper_form{
    position: relative;
    text-align: center;
    .form_group{
        font-family: 'Poppins-Ragular';
        .is_invalid{
            
        }
        label{
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            margin: 35px 0 0 5px;
        }
        input{
            width: 315px;
            height: 40px;
            border: 1.5px solid #D9D9D9;
            border-radius: 10px;
            padding-left: 20px;
            &::placeholder{
                color: #D9D9D9;
            }
            &.is_invalid{
                border-color: red;
            }
            &:hover{
                border-color: #129575;
            }
        }
        .invalid_feedback{
            color: red;
            margin-top: 10px;
        }
    }
    .forgot_pass{
        margin-top: 20px;
        position: absolute;
        min-width: 150px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        a{
            color: #FF9C00;
            position: relative;
            
            &:hover{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                color: #129575;
                transform:scale(1.1);
                transition: 1s color;
            }
        }
    }
    .btn_block{
        margin: 65px 0 10px 0;
        width: 315px;
        height: 50px;
        span{
            margin-left: 50px;
        }
        &:hover{
            background-color:#FF9C00;
            transition: 1s;
        }
    }
    .popup{
        display: none;
        position: relative;
        width: 100%;
        height: 200px;
        background-color: #129575;
        font-size: 30px;
        line-height: 60px;
        padding: 20px;
        z-index: 100;
        border-radius: 30px;
    }
}
.blockBtnSignUp{
    position: absolute;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    .absolPosition{
        height: 16px;
        position: relative;
        .btn_Signup{
            color: #FF9C00;
            position: relative;
          &:hover{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            color: #129575;
            transform:scale(1.1);
            transition: 1s color;
            }
        }
    }
    p{  
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
    }
   
}